<ion-view title="Termos e Privacidade">
    <div class="bar bar-header bar-yellow">
        <a href="#/tab/settings" class="button icon-left ion-ios-arrow-left button-clear button-dark"></a>
        <div class="h1 title">Central de Ajuda</div>
    </div>

    <ion-content class="has-header padding">
        <div class="card">
            <div class="item item-divider no-white-space">
                1: Lorem ipsum dolor sit amet, consectetur aliquid nemo quia sit?
            </div>
            <div class="item item-text-wrap">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil dolorum, laudantium vitae, quas repellat voluptatum quia dolore odio libero voluptas illum sapiente! Repellat illo vel fugiat assumenda eveniet consectetur magni.
            </div>
        </div>
        <div class="card">
            <div class="item item-divider no-white-space">
                2: Lorem ipsum dolor sit amet, consectetur aliquid nemo quia sit?
            </div>
            <div class="item item-text-wrap">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil dolorum, laudantium vitae, quas repellat voluptatum quia dolore odio libero voluptas illum sapiente! Repellat illo vel fugiat assumenda eveniet consectetur magni.
            </div>
        </div>

    </ion-content>
</ion-view>
