<ion-view title="">
  <div class="bar bar-header bar-yellow">
    <button ng-click="goBack();" class="button icon-left ion-ios-arrow-left button-clear button-dark"></button>

    <div class="h1 title page-title">{{alerta.noticia.titulo}}</div>
  </div>

  <ion-content class="has-header" padding="true">
        <div class="button-bar btn-felling">
          <button id="btnPositivo" class="button icon-left ion-thumbsup" ng-class="{'button-energized ': alerta.classificacao == 1}" ng-click="updateAlerta(1)" >Positiva</button>
          <button id="btnNegativo" class="button icon-left ion-thumbsdown" ng-class="{'button-energized ': alerta.classificacao == 2}" ng-click="updateAlerta(2)">Negativa</button>
          <button id="btnNeutro" class="button icon-left ion-minus-circled" ng-class="{'button-energized ': alerta.classificacao == 4}" ng-click="updateAlerta(4)">Neutra</button>
        </div>

        <div class="list card">
          <div class="item news-header">                
                <a ng-click="openDeviceBrowser(alerta.noticia.link)" class="button icon-top ion-ios-world-outline button-outline button-block button-small button-energized"> Ver no site</a>
                <p><a class="link-site" ng-click="openDeviceBrowser(alerta.noticia.link)">{{alerta.noticia.site}}</a> - {{alerta.noticia.data_publicacao| timeAgo}}</p>
                <p class="news-tag"><strong>Palavras-chave:</strong><span ng-repeat="tag in alerta.tags">{{tag.nome}}</span></p>
          </div>
         

          <div class="item item-body news-body">
              <h2>{{alerta.noticia.titulo}}</h2>
              <div ng-bind-html="alerta.noticia.texto|hrefToJS"></div>
          </div>

        </div>
  </ion-content>
</ion-view>
