<ion-view title="Termos e Privacidade">
    <div class="bar bar-header bar-yellow">
        <a href="#/tab/settings" class="button icon-left ion-ios-arrow-left button-clear button-dark"></a>
        <div class="h1 title">Sobre</div>
    </div>

    <ion-content class="has-header padding">
        <div class="list">
            <div class="item" href="#">
                Nome
                <span class="item-note">
                Captei.Info
            </span>
            </div>
            <div class="item" href="#">
                Versão
                <span class="item-note">
              1.0.0
            </span>
            </div>
        </div>
    </ion-content>
</ion-view>
