<ion-view title="">
    <div class="bar bar-header bar-yellow">
        <div class="col col-33">
            <a href=""><img src="img/logo.png" alt="">
            </a>
        </div>
        <div class="col col-50">
            <label class="item item-input item-select select-tag-header">
                <select ng-model="tagSelecionada" ng-options="tag.id as tag.nome for tag in tags" ng-change="alertLista();">
                    <option value="">Todas</option>
                </select>
            </label>
           
        </div>
        <div class="col col-20">
             <button class="button button-icon ion-navicon btn-popover-header" ng-click="modal.show()">
        </button>
        </div>
    </div>
    
    <ion-content class="has-header padding">
        <ion-refresher on-refresh="doRefresh()"
             pulling-text="Deslize para atualizar..."
             refreshing-text="Atualizando!"
             refreshing-icon="ion-load-d"
             pulling-icon="ion-ios-arrow-down">
        </ion-refresher>
        <ion-list class="list">
           <!-- Se a noticia não possuir imagem, ion-item recebe a class="item-noimage" -->
            <ion-item ng-repeat="alerta in alertas" ng-class="{'item-noimage': !alerta.noticia.foto}" class="item item-thumbnail-left item-list-news" type="item-text-wrap" href="#/tab/item/{{alerta.id}}">
                <img ng-if="alerta.noticia.foto" src="{{ alerta.noticia.foto }}">
                <p class="news-data">{{alerta.noticia.site}} - {{alerta.noticia.data_publicacao| timeAgo}}</p>
                <h2 class="news-titulo">{{alerta.noticia.titulo}}</h2>
                <p class="news-tag"><span ng-repeat="tag in alerta.tags">{{tag.nome}}</span></p>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore();" distance="10%"></ion-infinite-scroll>
    </ion-content>
</ion-view>





<script id="templates/modal-filter.html" type="text/ng-template">
    <ion-modal-view>
         <div class="bar bar-header bar-yellow">
            <div class="h1 title">Filtros</div>
            <button class="button button-clear  button-icon ion-ios-close-empty" ng-click="modal.hide()"></button>
        </div>
        <ion-content class="has-header padding">
            <div class="list">
              <label class="item item-input">
                  <span class="input-label">Data inicial</span>
                  <input type="date" id="data-inicio">
              </label>

              <label class="item item-input">
                  <span class="input-label">Data final</span>
                  <input type="date" id="data-fim">
              </label>
              
              <label class="item item-input item-select">
                <div class="input-label">
                  Organizar por:
                </div>
                <select id="orderList" ng-model="orderList" class="ng-pristine ng-valid">
                    <option value="">Mais recentes</option>
                    <option value="noticia__data_publicacao">Mais antigas</option>
                    <option value="-status_lido">Lidas</option>
                    <option value="status_lido">Não Lidas</option>
                </select>
              </label>
              <label class="item item-input item-select">
                <div class="input-label">
                  Classificação por:
                </div>
                <select id="classificacaoList">
                  <option value="">Todas</option>
                  <option value="1">Positiva</option>
                  <option value="2">Negativa</option>
                  <option value="3">Mista</option>
                  <option value="4">Neutra</option>
                  <option value="5">Sem classificação</option>
                </select>
              </label>
              <!--<label class="item item-input item-select">-->
                <!--<div class="input-label">-->
                  <!--Classificar por:-->
                <!--</div>-->
                <!--<select>-->
                  <!--<option>Blue</option>-->
                  <!--<option selected>Green</option>-->
                  <!--<option>Red</option>-->
                <!--</select>-->
              <!--</label>-->
              <!--<label class="item item-input item-select">-->
                <!--<div class="input-label">-->
                  <!--Selecionar:-->
                <!--</div>-->
                <!--<select>-->
                  <!--<option>Blue</option>-->
                  <!--<option selected>Green</option>-->
                  <!--<option>Red</option>-->
                <!--</select>-->
              <!--</label>-->

            </div>
        <button class="button button-block button-energized button-icon-left ion-checkmark" ng-click="alertLista();modal.hide();">Aplicar</button>
        <button class="button button-block button-energized button-icon-left ion-checkmark" ng-click="resetaFiltro();modal.hide();">Limpar Filtros</button>
        </ion-content>
    </ion-modal-view>
</script>


