<ion-view title="Configurações">
    <div class="bar bar-header bar-yellow">
      <div class="h1 title">Configurações</div>
    </div>
    <ion-content class="has-header">
        <div class="list">
            <div class="item item-thumbnail-left" href="#">
                <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/7/005/09f/053/0006ac5.jpg">
                <h2>Filipe Raiz</h2>
                <p>filiperaiz@gmail.com</p>
                <a href="#/sign-in" class="button icon-left ion-power button-clear button-dark button-small">Sair</a>
            </div>
        </div>

        <div class="item item-divider">
          Configurações do aplicativo
        </div>
        <ul class="list">
            <li class="item item-toggle">
                Notificações push
                <label class="toggle toggle-energized">
                    <input type="checkbox" checked>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                Notificações no Email
                <label class="toggle toggle-energized">
                    <input type="checkbox" checked>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                Som no aplicativo
                <label class="toggle toggle-energized">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            
            <li class="item item-toggle">
                Vibração no aplicativo
                <label class="toggle toggle-energized">
                    <input type="checkbox" checked>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </ul>
        
        <div class="list">
        <div class="item item-divider">
          Links externos
        </div>
         <a class="item item-icon-right" href="#">
            <i class="icon ion-ios-arrow-right"></i>
            Planos
          </a>
          <a class="item item-icon-right" href="#">
            <i class="icon ion-ios-arrow-right"></i>
            Ajuda
          </a>
          <a class="item item-icon-right" href="#">
            <i class="icon ion-ios-arrow-right"></i>
            Licenças
          </a>
          <a class="item item-icon-right" href="#">
            <i class="icon ion-ios-arrow-right"></i>
            Privacidade e termos
          </a>
          <a class="item item-icon-right" href="#">
            <i class="icon ion-ios-arrow-right"></i>
            Relatar um problema
          </a>

         

        </div>

    </ion-content>
</ion-view>
