<ion-view title="Configurações">
    <div class="bar bar-header bar-yellow">
        <div class="h1 title">Configurações</div>
    </div>
    <ion-content class="has-header">

        <!--<div class="list">-->
            <!--<div class="item item-divider">-->
                <!--Minha conta-->
            <!--</div>-->
            <!--<a class="item item-icon-right" href="#/tab/alterar-senha">-->
                <!--<i class="icon ion-ios-arrow-right energized"></i> Alterar senha-->
            <!--</a>-->
            <!--<a class="item item-icon-right" href="#/tab/central-ajuda">-->
                <!--<i class="icon ion-trash-a energized"></i> Deletar conta-->
            <!--</a>-->
        <!--</div>-->

        <!--<div class="item item-divider">-->
            <!--Configurações do aplicativo-->
        <!--</div>-->
        <!--<ul class="list">-->
            <!--<li class="item item-toggle">-->
                <!--Notificações push-->
                <!--<label class="toggle toggle-energized">-->
                    <!--<input type="checkbox" checked>-->
                    <!--<div class="track">-->
                        <!--<div class="handle"></div>-->
                    <!--</div>-->
                <!--</label>-->
            <!--</li>-->
            <!--<li class="item item-toggle">-->
                <!--Som no aplicativo-->
                <!--<label class="toggle toggle-energized">-->
                    <!--<input type="checkbox">-->
                    <!--<div class="track">-->
                        <!--<div class="handle"></div>-->
                    <!--</div>-->
                <!--</label>-->
            <!--</li>-->

            <!--<li class="item item-toggle">-->
                <!--Vibração no aplicativo-->
                <!--<label class="toggle toggle-energized">-->
                    <!--<input type="checkbox" checked>-->
                    <!--<div class="track">-->
                        <!--<div class="handle"></div>-->
                    <!--</div>-->
                <!--</label>-->
            <!--</li>-->
        <!--</ul>-->

        <div class="list">
            <div class="item item-divider">
                Links
            </div>
            <a class="item item-icon-right" ng-click="iniciarTutorial();">
                <i class="icon ion-ios-arrow-right energized"></i> Iniciar Tutorial
            </a>
            <!--<a class="item item-icon-right" href="#/tab/central-ajuda">-->
                <!--<i class="icon ion-ios-arrow-right energized"></i> Avaliar aplicativo-->
            <!--</a>-->
            <!--<a class="item item-icon-right" href="#/tab/central-ajuda">-->
                <!--<i class="icon ion-ios-arrow-right energized"></i> Planos-->
            <!--</a>-->
            <!--<a class="item item-icon-right" href="#/tab/central-ajuda">-->
                <!--<i class="icon ion-ios-arrow-right energized"></i> Central de Ajuda-->
            <!--</a>-->
            <!--<a class="item item-icon-right" href="#/tab/termos-privacidade">-->
                <!--<i class="icon ion-ios-arrow-right energized"></i> Privacidade e termos-->
            <!--</a>-->
            <!--<a class="item item-icon-right" href="#/tab/relatar-problema">-->
                <!--<i class="icon ion-ios-arrow-right energized"></i> Relatar um problema-->
            <!--</a>-->
            <a class="item item-icon-right" href="#/tab/sobre">
                <i class="icon ion-ios-arrow-right energized"></i> Sobre
            </a>
        </div>

        <div class="padding">
            <button class="button button-assertive button-block button-icon-left ion-power" ng-click="logout();">
                Sair
            </button>
        </div>
    </ion-content>
</ion-view>
