<ion-view title="Adicionar e Gerenciar">
    <div class="bar bar-header bar-yellow">
        <div class="h1 title">Adicionar e Gerenciar</div>
    </div>
    <ion-content class="has-header padding">
        <div ng-if="plano_quantidade < 20" class="">
            <button class="button button-block button-energized button-icon-left ion-plus" ng-click="modal.show()">Nova palavra-chave</button>
        </div>

        <div class="item item-divider">
            Gerenciar palavras-chaves
        </div>

        <a class="item" href="#">

          Palavras chaves disponíveis
          <span class="badge badge-energized">{{ quantidade_tag }}</span>
        </a>
        <div class="item item-toggle">
            Ativar todas
            <label class="toggle toggle-energized">
                <ui-select-all items="tags" prop="isSelected"></ui-select-all>
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>
        <br>

        <ul class="list">
            <li ng-repeat="tag in tags" class="item item-toggle">
                {{tag.nome}}
                <label class="toggle toggle-energized">
                    <input type="checkbox" ng-if="comparaTag(tag.id)" ng-model="tag.isSelected" ng-init="tag.isSelected=true">
                    <input type="checkbox" ng-if="!comparaTag(tag.id)" ng-model="tag.isSelected">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </ul>

        <div>
            <button class="button button-block button-energized button-icon-left ion-checkmark" ng-click="selecionarTags(tags);">Salvar alterações</button>
        </div>


    </ion-content>
</ion-view>

<script id="templates/modal-addtag.html" type="text/ng-template">
    <ion-modal-view>
        <div class="bar bar-header bar-yellow">
            <div class="h1 title">Adicionar nova palavra-chave</div>
            <button class="button button-clear  button-icon ion-ios-close-empty" ng-click="modal.hide()"></button>
        </div>
        <ion-content class="has-header padding">
            <form data-ng-submit="addTag(tag_adicionada);" class="form-floating-label">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Palavra-chave:</span>
                        <input type="text" data-ng-model="tag_adicionada" name="tag" placeholder="Digite a palavra-chave desejada">
                    </label>
                </div>
                <button class="button button-block button-energized button-icon-left ion-checkmark" type="submit">Salvar</button>
            </form>
        </ion-content>

    </ion-modal-view>
</script>
