
<ion-tabs class="tabs-icon tabs-yellow ">
  <ion-tab title="Listagem News" icon="icon ion-ios-home-outline" href="#/tab/listnews">
    <ion-nav-view name="tab-listnews"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Filtros" icon="icon ion-ios-compose-outline" href="#/tab/addtag">
    <ion-nav-view name="tab-addtag"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Configurações" icon="icon ion-ios-gear-outline" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>
</ion-tabs>
