<ion-view title="Termos e Privacidade">
    <div class="bar bar-header bar-yellow">
        <a href="#/tab/settings" class="button icon-left ion-ios-arrow-left button-clear button-dark"></a>
        <div class="h1 title">Termos e privacidade</div>
    </div>

    <ion-content class="has-header padding">
        <div class="card">
            <div class="item item-text-wrap">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde impedit ut praesentium architecto numquam quae veritatis, optio cupiditate, mollitia doloremque repellat odit totam, aperiam beatae! Voluptatem ullam est vitae vel!
            </div>
        </div>
    </ion-content>
</ion-view>

