/* Empty. Add your own CSS if you like */

.bg-login {
  background: url(../img/bg-login.png) center top no-repeat fixed;
  background-size: cover;
  padding: 30% 10%;
}

.form-login .item-floating-label {
display: block;
background-color: #fff;
box-shadow: none;
}

.bar.bar-yellow {
    border-color: #eecc00;
    background-color: #eecc00;
    background-image: linear-gradient(0deg, #eecc00, #eecc00 50%, transparent 50%);
    color: #fff;
}
.tabs-yellow > .tabs, .tabs.tabs-yellow {
    border-color: #d9d9d9;
    background-color: #d9d9d9;
    background-image: linear-gradient(0deg, #d9d9d9, #d9d9d9 50%, transparent 50%);
    color: #000;
}

.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
margin-top: -3px;
border-style: solid;
border-width: 3px 0 0 0;
border-color: #eecc00;
}
.bar.bar-yellow .title {
    color: #fff;
}
.pane, .view {
    background-color: #ecebeb;
}
.item-list-news {
    margin-bottom: 5px;
}
.select-tag-header {
    height: 25px;
    background: #9b8500;
    border: none;
}
.select-tag-header:after {

color: #fff;
}
.select-tag-header select {
    padding: 2px 15px;
    left: 0;
    font-size: 13px;
    background: transparent;
    color: #fff;
    font-weight: bold;
}

.item-list-news .item-content {
position: relative;
z-index: 2;
padding: 10px 10px 10px 100px;
border: none;
background-color: white;
}

h2.news-titulo{
    font-size: 12px;
    overflow: auto;
    white-space: normal;
    margin-bottom: 7px;
}

p.news-data{
    font-size: 10px;
    margin-bottom: 7px;
    line-height: 1.2;
    
}

p.news-tag{
    font-size: 10px;
    margin-bottom: 5px;
    overflow: auto;
    white-space: normal;
    line-height: 13px;
}

.news-tag strong{
  margin-right: 5px;
}

.news-tag span{
  margin-right: 3px;
}



.news-tag span:after{
 content: '-';
 margin-left: 3px;
}

.news-header p{
    font-size: 12px;
    margin-bottom: 5px;
}

.news-body h2{
    margin-top: 0;
}


.btn-popover-header{
    top: -5px;
    right: -10px;
}

.btn-felling{

}

.btn-felling .button{
    font-size: 12px;
    line-height: 36px;
    min-height: 30px;
}


.btn-felling .button.icon-left:before{
    font-size: 14px;
    line-height: 33px;
}

.page-title{
    padding-left:30px;
}

.popup-container .popup{
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.popup-head{
  border: none;
  padding-bottom: 5px;
}

.popup-title{
  color: #fff;
}

.popup-body h1, .popup-body h4{
  color: #fff;
  text-align: center;
}

.news-header .button{
  margin-top: 0
}

.link-site{
  color: #f0b840
}

.input-newtag{
  font-size: 12px;
  color: #BBB;
}

